*{
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header{
    display: flex;
    max-width: 1200px;
    margin: 30px auto;
    justify-content: space-around;
    align-items: center;

}
ul{
    list-style: none;
    display: flex;
    gap: 20px;
}
header div {
    display: flex;
    flex-direction: column;
    align-items: end

}
nav{
    display: flex;
    gap: 27px;
    align-items: center;
}

