*{
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header{
    display: flex;
    max-width: 1200px;
    margin: 30px auto;
    justify-content: space-around;
    align-items: center;

}
ul{
    list-style: none;
    display: flex;
    gap: 20px;
}
header div {
    display: flex;
    flex-direction: column;
    align-items: end

}
nav{
    display: flex;
    gap: 27px;
    align-items: center;
}

.main{
    background-image: url(./photo/image.png);
    max-width: 1200px;
    margin: auto;
    color: white;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;flex-direction: column;
    gap: 40px;
    background-size: cover;       
    background-position: center;
    background-repeat: no-repeat;
    min-height: 700px;
}
.main h1{
    font-size: 50px;
}
.btn{
    background-color: transparent;
    border: none;
    border-radius: 10px;
    padding: 10px 25px;
    font-size: 17px;
}
.btn-1{
    background-color: #FB8500;
    color: white;
}
.btm-2{
    color: #FB8500;
    background-color: white;
}
.main img{
    position: absolute;
    margin-top: 630px;
}

.work{
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 1200px;
    margin: 90px auto;
    align-items: center;
    text-align: center;
}
.cotn{
    display: flex;
    max-width: 800px;
    margin: auto;
    align-items: center;
    justify-content: center;
}
.card{
    margin: auto;
    width: 26%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
}
.work h3{
    color: #219EBC;
}
.cotn h3{
    color: black;
}
.cotn p{
    color: #02304766;
}
.work h1{
    font-size: 60px
}

.new{
    background-image: url(./photo/rty.png);
    min-height: 700px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1200px;
    margin: auto;
    justify-content: center;
    text-align: center;
    align-content: center;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    opacity: 1.6;
}
.new h6{
    color: #219EBC;
}
.new h1{
    color: white;
    font-size: 40px;
}
.new h4{
    color: white;
    line-height: 1.6;
}
section{
padding:80px 10%;
text-align:center;
}

.subtitle{
color:#777;
margin-bottom:40px;
}

.steps{
background:#fff;
}

.step{
display:flex;
gap:20px;
align-items:flex-start;
margin:30px auto;
max-width:700px;
text-align:left;
}
.steps h1{
    font-size: 40px;
    margin-bottom: 30px;
}

.circle{
width:80px;
height:40px;
border-radius:50%;
background:rgb(253, 240, 240);
color:#ff7a00;
display:flex;
align-items:center;
justify-content:center;
font-weight:bold;
}

.advantages{
background:url(./photo/bf8a40060807c258cf8e59f06ca2bac424b8729c.jpg);
background-position: center;
background-repeat: no-repeat;
background-size: cover;
color:white;
}
.advantages h5{
    color: #219EBC;
    margin-bottom: 30px;
}
.advantages h2{
    font-size: 40px;
}

.adv-grid{
display:grid;
grid-template-columns:repeat(3,1fr);
gap:40px;
margin-top:50px;
}

.adv{
background:rgba(0,0,0,0.4);
padding:30px;
border-radius:10px;
display: flex;
flex-direction: column;
gap: 20px;
}

.icon{
width:50px;
height:50px;
border-radius:50%;
background:white;
color:#ff7a00;
display:flex;
align-items:center;
justify-content:center;
margin:auto;
font-size:20px;
}

